<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">

    {# css / javascript #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <script src="https://kit.fontawesome.com/8c94095c90.js" crossorigin="anonymous"></script>


    {# notre google font #}
    <link rel="preconnect" href="https://fonts.google.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Acme&display=swap">

    {# Titre #}
    <title>{% block title %}Bucket-List {% endblock %}</title>

    {# le favicon #}
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {# notre css #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
     <body>
        <header>
            {# l'entête #}
            <div> {% include('inc/nav.html.twig') %}</div>

        </header>

        <section class="flash">
        {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </section>
        <main>
            <div class="container">
                {% block body %}


                {% endblock %}
            </div>

        </main>
        <footer>
            <div class="container">©Seau de Liste {{ "now"|date("Y") }}</div>
        </footer>

     </body>
</html>