<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
<script src="https://kit.fontawesome.com/8c94095c90.js" crossorigin="anonymous"></script>

<nav class="navbar">
    <ul class="navbar-menu">
        <li class="navbar-item">
            <a class="navbar-link" href="{{ path('main_home') }}">
                <img src="{{ asset('img/favicon.png') }}" alt="" class="img">
                <span class="navbar-title">Accueil</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="{{ path('wish_list') }}" class="navbar-link">
                <i class="fa-solid fa-list"></i>
                <span class="navbar-title">Liste</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="{{ path('main_about') }}" class="navbar-link">
                <i class="fa-solid fa-address-card"></i>
                <span class="navbar-title">Et nous?</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="{{ path('wish_create') }}" class="navbar-link">
                <i class="fa-solid fa-lightbulb"></i>
                <span class="navbar-title">IALC</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="{{ path('app_login') }}" class="navbar-link">
                <i class="fa-solid fa-plug"></i>
                <span class="navbar-title">Connexion</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="{{ path('app_register') }}" class="navbar-link">
                <i class="fa-solid fa-address-card"></i>
                <span class="navbar-title">Registration</span>
            </a>
        </li>
    </ul>
</nav>